<div>
    {% comment %} read rooms {% endcomment %}
    {% for room in rooms %}
    <div>
        {% comment %} if user is not authenticated then dont show buttons {% endcomment %}
        {% if request.user == room.host %}
        {% comment %} update room {% endcomment %}
        <a href="{% url 'update-room' room.id %}">Edit</a>
        {% comment %} delete room {% endcomment %}
        <a href="{% url 'delete-room' room.id %}">Delete</a>
        {% endif %}
        <a href="{% url 'user-profile' room.host.id %}">@{{room.host.username}}</a>
        <h5>{{room.id}} -- <a href="{% url 'room' room.id %}">{{room.name}}</a></h5>
        <small>{{room.topic.name}}</small>
        <hr>
    </div>
    {% endfor %}
</div>