{% extends 'main.html' %}

{% block content%}
<h1>Room Page</h1>
<h2>{{room.name}}</h2>

<p>{{room.description}}</p>

<div class= "comment-wrapper">
    <h3>Conversations</h3>
    <hr>
    {% for message in roommessages%}
        <div>
            <small>@{{message.user}} {{message.created|timesince}} ago</small>
            <p>{{message.body}}</p>
            <hr>

        </div>
    {% endfor %}
</div>

{% if request.user.is_authenticated %}
<div class = "comment-form">
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name ='body' placeholder="Write your messages here..."/>
    </form>
</div>
{% endif %}

{% endblock content%}
